# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\user_data\IDEA_Projects\spring-cloud-alibaba-fxdemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
